button {
  background-color: rgb(105, 86, 226);
  color: floralwhite;
  padding: 5px;
  border-radius: 5px;
  transition: 800ms;
}

button:hover {
  background-color: rgb(90, 77, 173);
}

button:focus {
  outline: none;
}

.question-container {
  min-height: 30rem;
  padding: 0 20px 20px 20px;
}

.question {
  margin-top: 5px;
}

.container h4,
h3,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.question-display {
  font-family: "EB Garamond", serif;
}

.category {
  margin: 5px;
  font-size: 1.2rem;
}
.teams-display {
  display: grid;
  justify-content: center;
  grid-template-areas: "team team team team team";
}

.team {
  width: 10rem;
}

@media only screen and (max-width: 640px), (max-device-width: 640px) {
  .teams-display {
    grid-template-areas: "team team team";
  }
  button {
    width: 75%;
    min-height: 2rem;
    font-size: 1rem;
  }
  input {
    width: 75%;
    height: 2rem;
    font-size: 1rem;
  }
  select {
    width: 60%;
    height: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 440px), (max-device-width: 440px) {
  .teams-display {
    grid-template-areas: "team team";
  }

  button {
    width: 85%;
    min-height: 3rem;
    font-size: 1.3rem;
  }
  input {
    width: 85%;
    min-height: 3rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 376px), (max-device-width: 376px) {
  .teams-display {
    grid-template-areas: "team";
  }
}
