* {
  box-sizing: border-box;
}
body {
  background-color: darkslateblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

navbar {
  background-color: floralwhite;
  color: darkslateblue;
  display: block;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo h3 {
  margin-left: 0.5rem;
  font-family: "Oswald", sans-serif;
  display: inline;
  margin-right: 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.jservice {
  color: floralwhite;
  font-size: 0.8rem;
  padding-left: 5px;
}
.jservice a {
  color: floralwhite;
}

.icons {
  padding-left: 10px;
  transform: translateY(-7px);
  transition: 100ms;
}

.fa-house-user {
  transform: translateY(-9px);
}

.icons:hover {
  transform: translateY(-12px);
  transition: 400ms;
}

#links {
  font-size: 1.8rem;
  padding-left: 10px;
  opacity: 0;
  transition: opacity, 500ms;
}

#rh {
  border-top: transparent 3px solid;
  cursor: pointer;
  text-decoration: underline;
  transition: 200ms;
}

#rh:hover {
  border-top: darkslateblue 3px solid;
  transition: 200ms;
}
